.layui-footer{
  text-align:center;
  font-size: 18px;
  color: rgb(0, 0, 0) ;
  /* width: 100%; */
  /* background-color: rgb(255, 194, 80) !important; */
}
/* .layui-layout-admin .layui-header{
  background-color: rgb(255, 200, 80) !important;
} */
.layui-nav .layui-nav-item a {
 color: rgb(255, 200, 80);
}
/* .layui-side-scroll{
  display: none;
}
#w{
  display: none;
} */


.layui-nav-img{
  display: none;
}

.layui-nav-item a{
  display: flex !important;
}
iframe{
  width: 100%;
  height: 100%;
}
.layui-body{
  overflow: hidden;
}
a{
  transition:none !important
}

.userinfo{
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
}


.userinfo .layui-nav-img{
  width: 40px;
  height: 40px;
}

.userinfo .text-head{
  width: 40px;
  height: 40px;
  background-color: rgb(255, 200, 80); ;
  font-size: 20px;
  font-weight: 600;
  border-radius: 40%;
  text-align: center;
  line-height: 40px;
  color: #000;
  margin-right: 10px;
  user-select: none;
}
.userinfo .text{
  font-size: 12px;
  user-select: none;
}